/*
TODO:
  CHANGE THE TO DO TO BE A FORM

*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

p {
  margin: 0;
}

img {
  display: block; /* without it this will display a small gap */
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
}

.container {
  max-width: 375px; /* switch to rems */
  border: 1px solid black;
}

.width-container {
  width: 87%;
  margin: 0 auto;
}

.background-container {
  background-image: url(images/bg-mobile-dark.jpg);
  max-height: 200px;
  /*   height: 30vh;
 */
  background-repeat: no-repeat;
}

.header-container {
  padding-top: 6vh;
  position: relative;
}

.header-display {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
  letter-spacing: 0.3em;
  word-spacing: -0.5em; /* make note that -0.25 is most space on font */
  margin: 0;
}

.theme-container {
  align-self: end;
}

.svg-theme-btn {
}

.svg-theme-btn:hover {
  border: 1px solid black;
}
.svg-theme-icon {
  width: 80%;
  color: black;
  margin-left: auto;
}

.note-input {
  display: flex;
  font-size: 1rem;
  padding: 0.6em 1em;
  background-color: hsl(235, 24%, 19%);
  border-radius: 8px;
  margin: 2rem 0 0.8rem;
}

.svg-container {
  background: none;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.svg-container:hover {
  border: 1px solid black;
}

.svg-color {
}

.addNote {
}

.input-note {
  width: 100%;
  margin-left: 0.3em;
  color: white;
  background-color: hsl(235, 24%, 19%);
  border: none;

  font-size: 1rem;
}

.todo-container {
  background-color: hsl(235, 21%, 11%);
  height: calc(100vh - 202px);
}

.todo-list-container {
}

.todo-node {
  display: flex;
  padding: 1em;
  background-color: hsl(235, 24%, 19%);
  color: white;
  font-size: 1rem;
  border-bottom: 1px solid hsl(233, 14%, 35%);
}

.todo-node:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-node:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid transparent;
}

.todo-btn {
  height: 1.313rem;
  width: 1.313rem;
  border-radius: 50%;
  background: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.check-svg {
}

.todo-description {
}
